*{margin: 0;}

body{
    display: grid;
    grid-template-areas:
    "aside main"   
    "aside main"
    "footer footer";
    background-color: purple;
    height: 100vh;
}
main{grid-area: main;}


aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
}


footer{
    display: flex;
    justify-content: center;
    grid-area: footer;
    align-items: center;
}


.tecs{
    display: flex;
    flex-direction: column;
    background-color: pink;
    border-radius: 10px;
}